
.dropdown-filter button {
  float: right;
  padding: 3% 0;
  color: #111517;
  background-color: white;
  box-shadow: 0 3px 20px 1px rgba(124, 132, 153, 0.22);
}

@media (min-width: 320px) and (max-width: 480px) {
  .dropdown-filter button {
    float: none;
    width: 50%;
  }
}
