.header {
  box-shadow: 0 3px 20px 1px rgba(124, 132, 153, 0.22);
  padding: 2% 12%;
  background-color: white;
}

.header h2 {
  font-weight: 800;
}

.header h2:hover {
  text-decoration: none;
}

.header p {
  float: right;
  font-weight: 600;
}

.header i {
  padding-right: 10%;
}

.dark-mode {
  background-color: #2b3945 !important;
  color: white !important;
}

.darker-mode {
  background-color: #202c37 !important;
  color: white !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    padding: 7% 5% 4%;
  }
  .header h2 {
    font-size: 18px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 5% 7%;
  }
  .header h2 {
    font-size: 24px;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .header {
    padding: 5% 5%;
  }
  .header h2 {
    font-size: 26px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 3% 5%;
  }
  .header h2 {
    font-size: 28px;
  }
}
