body {
  font-family: "Nunito Sans", sans-serif;
  color: #111517;
}

.home {
  background-color: #fafafa;
}

.search-or-filter {
  padding: 2% 15%;
  margin-bottom: 5%;
}


@media (min-width: 320px) and (max-width: 480px) {
  .search-or-filter {
    padding: 10% 3% 5%;
  }
}
